
html, body {
    height:100%;
    width:100%;
    margin:0px;
    overflow-y:hidden;
    font-family: 'Source Code Pro', monospace;
}

header {
    background-color:#1f282e;
    height:50px;
    color:white;
}

#logo {
    margin-left:20px;
    font-size: 1.5em;
    font-weight: bold;
    padding-top:10px;
    padding-bottom:10px;
}

#character-area {
    float:left;
    width:75%;
    height:100%;
    background-color:#36454f;
    color:white;
    
}

#room-stats {
    padding-left:20px;
    padding-top:20px;
    float:left;
}

#message-area {
    display: inline-block;
    background-color:#36454f;
    height:100%;
    width:25%;
    color:white;
    display:flex;
    flex-direction: column-reverse;
    overflow-y:auto;
}

#messages {
    margin-bottom:70px;
    margin-right:20px;
}

.message {
    padding:10px 20px;
    background-color: #29353d;
    color: lightgreen;
    margin:2% 5%;
    border-radius: 5px;
    font-size:1.25em;
}

.message-username {
    
    padding-bottom: 5px;
}

.hidden {
    color:transparent;
}

.visible {
    color: white;
}

.character {
    font-size:3em;
}

#message-form {
    position: absolute;
    bottom: 20px;
    left:20px;
}
