
html, body {
    height:100%;
    width:100%;
    margin:0px;
    overflow-y:hidden;
}

#letter-area {
    float:left;
    width:80%;
    height:95%;
    background-color:rgb(92, 100, 211);
    color:white;
    
}

#message-area {
    display: inline-block;
    background-color:blue;
    height:95%;
    width:20%;
    color:white;
}

#room-stats {
    padding-left:10px;
    padding-top:10px;
    float:left;
}

.character {
    font-size:3em;
}

#message-form {
    height:5%;
}

#team-selection {
    position: fixed;
    bottom:0;
    width:100%;
    height:5%;
}